# branch Reports
![How to get branch reports on the MFI Expert system](./images/Branch_Reports.png "Branch Reports")\
***How to get Branch Reports***

- On the main menu click on reports
- On the drop down menu select branch reports
- On the new page that appears you will be able to get the following reports;
  1.	Loan officer collections summary weekly
  2.	Loan officer disbursal summary weekly
  3.	Branch PAR report
  4.	Branch disbursal summary
  5.	Branch client intake summary

